/* 
CSS Class Definitions for help.html
*/

#file-list {
    list-style: none;

}
head {
    text-color: black;
    
}
.jumbo-title {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}
.border {
  overflow: scroll;
  /*position: fixed !important;*/
  top: 0 !important;
  left: 0 !important;
  border: 16px solid #0011 !important;
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
}
.list { 
  border-style: groove;
  border-color: #7f8693;
  padding-left: 10px;
  font-size: 24px;
  font-weight: bold;
  width: 100%;
}
.list-contents {
  width: 100%;
  padding: 25px;
  border: 1px solid blue;
}
.example {
  overflow: scroll;
  padding: 5px;
  padding-top: 15px;
  width: 90%;
  height: 90%;
}
